<section class="about" id="about">
    <div class="homeReturn text-right">
        <a class="page-scroll" href="#home"><span class="glyphicon glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
    </div>    
    <div class="row">
        <div class="col-sm-7 about--text">
            <h1><u>About me</u></h1>
            <h3>I am a Front End Developer, currently in Indianapolis, IN.</h3>
            <h5>After a few years in logistics, I had a need to tap more into my creative side while leveraging my technical skills.  I soon realized that web development would be a great opportunity for me to embrace my people, processes and technical interests.  This led me to The Iron Yard coding bootcamp, where I learned to be a Front End Developer.  My goal is to use these new skills and past experiences to help businesses grow.
            </h5>
            <h5>I adapt quickly and enjoy <em>learning new skills.</em>  When I am not coding, you can find me sewing bowties, riding bikes or snowboarding in the winter months.
            </h5>
        </div><!-- about me text -->
        <div class="col-sm-5 about--img">
            <img src="img/misc/keith_brooks_about_me@2x.png" alt="Image of Keith Brooks during a trip to the UAE" />
            <blockquote class="blockquote-reverse">
                <p>"I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel."</p>
                <footer>Maya Angelou</footer>
            </blockquote>
        </div><!-- about me image with quote -->
    </div><!-- about me container -->
</section><!-- about me section -->
