<section class="main">
    <div class="jumbotron hidden-xs">
        <div class="row">
            <div class="col-lg-1 col-lg-offset-10">
                <h2>Merging People, Processes and Technology...</h2>
            </div><!-- feature banner text -->
        </div><!-- row for feature banner text -->
    </div><!-- feature banner image -->
</section>
