* {
    box-sizing: border-box;
}

//Generic styling for the entire application...
img {
    width: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: red;
}

//Styling for the Home Page...


//Styling for the Resume Page...

//Styling for the Contact Page...
