<div class="footer">
    <ul class="list-inline text-right">
        <li class="list-inline-item"><p>Designed and Developer by: Keith Brooks</p></li>
        <li class="list-inline-item"><p>* Icons made by Freepik &amp; Zlatko Najdenovski from www.flaticon.com </p>
        </li>
        <li><a href="https://github.com/kbrook10" target="_blank" ><span><img src="img/icons/github-social-logo.png" alt="Icon that links to keith brooks github account" /></span></a>
        </li>
        <li><a href="https://www.linkedin.com/in/keith-brooks-b41aa164" target="_blank" ><span><img src="img/icons/social-linkedin-circular-button.png" alt="Icon that links to keith brooks linkedin account" /></span></a>
        </li>
    </ul>
</div>
