<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target="#example-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand page-scroll" href="#page-top">
      <div class="nav--name">
        <h4 class="text-uppercase">keith brooks</h4>
        <h5 class="text-capitalize">front-end developer</h5>
      </div>
    </a>
    <!-- Add Icon Here and Header here -->
  </div>
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
      </li>
      <li><a class="page-scroll" href="#about">About</a></li>
      <li><a class="page-scroll" href="#portfolio">Projects</a></li>
      <li><a class="page-scroll" href="#technology">Technology</a></li>
      <li><a href="https://medium.com/@kbrook10" target="_blank">Blog</a></li>
    </ul>
  </div>
</nav>
</header>
