<header>
    <nav class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row">
                    <div class="col-sm-4">
                        <a class="navbar-brand" href="#">
                            <img src="/img/icons/nav_brandbowtie.png" alt="image of tennessee bowtie" />
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <h4 class="text-uppercase">keith brooks</h4>
                            <h5 class="text-capitalize">front-end developer</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="https://medium.com/@kbrook10">Blog</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul><!-- nav toggle -->
            </div><!-- navbar-collapse -->
        </div><!-- container -->
    </nav><!-- navigation header -->
</header>
