<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>" data-spy="scroll">
    <main>
        <% include partials/template/header.ejs %>
        <% include partials/content/maincontent.ejs %>
        <% include partials/content/about.ejs %>
        <% include partials/content/portfolio.ejs %>
    </main>
    <footer>
        <% include partials/template/footer.ejs %>
    </footer>
    <!-- Add Scripts below... -->
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>
